.App {
 text-align:center;
 background-color:whitesmoke;
 min-heigh: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items:center;
 font-family:Georgia, 'Times New Roman', Times, serif;
 padding:20px;

}

header h1 {
  color:orangered;
  margin-bottom: 0.5rem;

}

header p {
  front-size: 1.2rem;
  color: #333;

}

main section {
  background-color:beige
  padding: 15px;
  margin: 10px 0;
  border-radius:10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

}

main h2 {
  color:orange;
}

footer {
  maring-top: 20px;
  font-size: 0.9rem;
  color: #666;
}